body {
    max-width: 400px;
    margin: auto;
}

.task {
    text-align: right;
}

.operand {
    min-width: 7em;
    max-width: 100%;
    font-family: "LibertineMono", monospace;
    font-size: 48px;
    display: inline-block;
    border: 0;
    text-align: right;
    letter-spacing: 0.12em;
}

.operand:first-child {
    display: block;
}

.operator {
    font-family: "LibertineMono", monospace;
    font-size: 48px;
    display: inline-block;
    margin-right: auto;
    max-width: 1em;
}

.digits input {
    text-align: right;
    font-family: "LibertineMono", monospace;
    font-size: 40px;
    display: inline-block;
    width: 0.7em;
    max-width: 1em;
    margin: 0 0 0 2px;
}

button {
    transform: skew(3deg, 4deg);
    color: white;
    background-color: steelblue;
    font-size: 20px;
    border: 0;
    padding: 3px 12px 3px 12px;
    margin-left: 5px;
    margin-top: 5px;
}

button:hover {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.solution_text {
    display: none;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.solution_good {
    color: forestgreen;
}

.solution_bad {
    color: darkred;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@font-face {
    font-family: "LibertineMono";
    src: url("../res/LinLibertine_M.woff");
}

#footer {
    position: fixed;
    bottom: 0;
    color: dimgray;
    font-size: small;
}
